/** Universal Stylesheet for Password Generator**/

/* Sets default fonts for the page */
html {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  background: #131219;
}
body {
  background: #131219;
}
li.footerlink {
  background-color: #131219;
}


div.card.left-column, div.card.right-column {
  /* background-color: #619471; */
  margin-top: 20%;
}

/* div.card.center-column {
   background-color: #131219;
} */

h1.form-header {
  color: #582a72;
  font-size: 32px;
}

div.row p a {
  text-decoration: none;
  color: #582a72;
}

